
.window-controls {
    position: absolute;
    top: 0;
    right: 0;
    height: 32px;
    font-size: 10px;
    /*grid-column: 3;*/
    justify-self: flex-end;
}
.window-controls .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.window-controls {
    -webkit-app-region: no-drag;
}
.window-controls .button {
    user-select: none;
    cursor: default;
    opacity: 0.8;
}
.window-controls .button:hover {
    background: rgba(255,255,255,0.2);
    opacity: 1;
}

.window-controls .restore-btn {
    display: none;
}

.window-title {
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
    height: 30px;
    -webkit-app-region:drag;
    background: #202225;
    box-sizing: border-box;
}

.drag-region.win32 .window-title {
    font-size: 10.5pt;
}
.drag-region.win32 .window-title .icon {
    height: 20px;
}
.drag-region.win32 .window-controls .button span {
    font-family: "Segoe MDL2 Assets";
    font-size: 10px;
    color: #fff;
}

.window-title span {
    overflow-x: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.icon {
    height: 14px;
    position: relative;
    margin-right: 2px;
    top: -5%;
}

.window-controls div.button { /* for specifity */
    width: 48px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    border-radius: 0;
    margin: 0;
    background: transparent;
}

.window-controls div.button:hover {
    background: rgba(255, 255, 255, 0.2);
}

.window-controls div.button.close-btn:hover {
    background: #E81123;
}

.window-controls {
    display: none;
}
.drag-region.win32  .window-controls {
    box-sizing: border-box;
    display: flex;

    padding-left: -1px;
    padding-top: 3px;
}
.window-controls .button {
    width: 13px;
    height: 13px;
    overflow: hidden;
    border-radius: 100px;
    box-sizing: border-box;
    margin-left: 8.5px;
    font-size: 8pt;
    display: block;
    float: left;

    font-family: FontAwesome;
}

.button * {
    font-family: FontAwesome;
}

.window-title {
    width: 100%;
    text-align: center;
    color: #b4c9e0;
    font-family: "Avenir", "Helvetica Neue", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.drag-region.win32 .window-title {
    justify-content: flex-start;
    padding-left: 3px;
    text-align: left;
}


.menu .option:hover {
    background: rgba(49, 76, 110, 0.65);
    color: #eeeeee;
}
.menu .option:active {
    background: rgba(88, 97, 107, 0.71);
}
.menu {
    display: flex;
    padding-left: 15px;
    color: #b4c9e0;
    position: relative;

    top: 4px !important;

    font-size: 12pt;
    height: 55px;
    vertical-align: text-top;
    z-index: 100;
}
.menu > .submenu > .options {
    display: none;
    position: fixed;

    background: rgba(36, 40, 44, 0.9);
    color: #eee;

    padding: 5px;
    min-width: 250px;
    max-width: 600px;
    margin-left: 0;

    text-overflow-ellipsis: ellipsis;

    border-top: 3px solid rgba(49,76,110,0.65);
    border-top-right-radius: 7px;
}

.option {
    padding: 5px 10px;
}

.menu .submenu:hover > .options {
    display: block;
}

.options {
    position: relative;

    display: block;
    margin-left: 20px;
}

hr {
    border: 1px solid #4f5660;
}

.menu {
    max-height: 26px !important;
    overflow: visible !important;
    grid-column: 2 !important;
    height: 0;
    position: relative;
    margin-top: 0;
    top: 0;
    padding-top: 0;

    z-index: 140 !important;
}

.menu, .menu * {
    font-size: 10pt;
    -webkit-app-region: no-drag;
    overflow: visible;
    box-sizing: border-box;
}

.menu * {
    position: relative;
    /*overflow: visible !important;*/
}

.menu span {
    display: block;
    position: absolute;
}

.category-name:hover + .options, .options:hover, .category:hover .options {
    display: flex;
}

.category-name:hover .options {
    display: flex;
}

.options {
    flex-grow: 1;
    display: none;
    margin-left: 0;
    padding: 7px 0;
    flex-direction: column;
    border: 1px solid #66727f;
    border-radius: 0 7px 7px 7px;
    background: #24282c;
}

.option {
    display: grid;
    grid-template-columns: auto auto;
}
.option label {
    grid-row: 1;
    display: block;
}

.option:hover {
    background: #66727f;
}