//noinspection CssInvalidHtmlTagReference,CssInvalidHtmlTagReference
---
---

//noinspection CssUnknownTarget
@import "{{ site.theme }}";

.page-header {
  background: #202225;
}
body {
  background: #3c434b;
  color: white;
}
.main-content h1 {
  background: #3c434b;
}
.highlight {
  background: transparent;
}