---
---

@import "{{ site.theme }}";
.page-header {
  background: #202225;
}
body {
  background: #3c434b;
  color: white;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #3c434b;
}
.highlight {
  background: transparent;
}