:root {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background: #3e444b;
    overflow: hidden;
    user-select: none;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#root, .wrapper {
    height: 100% !important;
}

header {
    display: flex;
    background: #202225;
    padding: 7px;
    grid-row: 1;
}

textarea {
    resize: none;
}

/* Be more specific. This looks weird on radio buttons. */

a {
    color: #eee;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.App {
    /*max-height: 100% !important;*/
    height: calc(100% - 1em - 20px);
    /*bottom: 0 !important;*/
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.downloads {
    display: block;
    position: relative;
    /*max-height: calc(100vh - 85px) !important;*/
    overflow: auto;

    height: 100%;
}

.tool, button {
    color: #eee;
    font-size: 11pt;
    border-radius: 9px;
    border: 0;
    margin: 3px;
    width: 35px;
    height: 35px;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}

button:not(.tool) {
    width: auto;
    min-width: 100px;
    float: left;
    display: block;
}

.tool i {
    transition: 100ms ease;
}

.tool:hover, button:hover {
    background: rgba(102, 112, 123, 0.55) !important;
    color: white;
}

.tool:hover i {
    color: white;
}

.tool:active, button:active {
    background: rgba(124, 136, 149, 0.55);
}

.right {
    display: flex;
    justify-content: flex-end;
}

.downloadPrompt {
    border-radius: 5px;
    width: 400px;
    height: 200px;
    background: slategrey;
}

.downloads-wrapper.tab-container {
    padding: 10px;
    justify-self: flex-end;
    overflow: auto;
    box-sizing: border-box;
    position: relative;
    height: calc(100% - 1em - 17px);
}

.downloads-wrapper.tab-container .tabs {
    width: 300px;
    /*border: 1px solid #b4c9e0;*/
    border-bottom: 1px solid #24282c;
    /*z-index: 150;*/
    color: #b4c9e0;
    box-shadow: 0 0 1px 0 #24282c;
    position: relative;
    /*top: 1px;*/
    display: flex;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    background: #4f5660;
}

.downloads-wrapper.tab-container .tabs .tab {
    width: 100%;
    transition: 0.125s;
    cursor: pointer;
    padding: 5px;
    text-align: center;
}

.downloads-wrapper.tab-container .tabs .tab#active {
    background: #24282c;
}

.downloads-wrapper.tab-container .tabs .tab#active:hover {
    background: #3c434b;
}

.downloads-wrapper.tab-container .tabs .tab:hover {
    width: 100%;
    background: #24282c;
}

.downloads-wrapper.download-container {
    display: block;
    /*grid-template-columns: 1fr 1fr;*/
    margin-top: -1px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 140;
    width: 100%;
    height: calc(100% - 1em - 17px);
    padding: 15px;
    color: #b4c9e0;
    background: #24282c;
    grid-row: 2;
    box-sizing: border-box !important;

    overflow: auto;
}

.downloads {
    display: none;
}

.downloads#active {
    display: block;
}

.download {
    padding: 10px;
    /*box-shadow: 0 0 3px 0 rgba(24, 26, 29, 0.9);*/
    border-radius: 10px;
    background: rgba(36, 40, 44, 0.9);
    font-weight: 300 !important;
    position: relative;
    transition: 0.45s ease;
    margin: 5px 0;
}

b {
    font-weight: 900;
}

.download * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.download.done {
    background: #00ca56;
}

.download.pending {
    background: #72257c;
}

.download.failed {
    background: #b81d27;
}

.download.done *, .download.failed * {
    color: #3c434b;
}

.download .download-details {
    font-size: small;
    user-select: text;
}

.download .download-detail {
    margin: 0 10px;
    padding: 0;
    display: block;
    color: #aaa;
    word-wrap: break-word;
}

.download.failed .download-detail {
    color: #202225 !important;
}

.download.done .download-detail, .download.failed .download-detail {
    color: #66727f;
}

.download .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.download .header .tools {
    float: right;
    display: flex;
    /*position: absolute;*/
    /*right: 10px;*/

}

.download .header h2 {
    float: left;
    display: block;
    color: #eee;
    margin-block-start: 0;
    margin-block-end: 0;
}

.download.done .header h2, .download.failed .header h2 {
    color: #181b1e;
}

.progress-bar > .progress-visual {
    position: absolute;
    top: -15px;
    font-size: 15px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.progress-bar > .progress-visual > span {
    width: 40px;
    height: 40px;
    position: relative;
    line-height: 30px;
    padding: 5px;
    background: #b4c9e0;
    box-shadow: 0 0 3px 0 #3e444b;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-bar {
    width: 100%;
    margin-top: 5px;
    position: relative;
    height: 12px;
    /*padding: 10px;*/
}

.progress-bar-wrapper {
    border-radius: 15px;
    border: none;
    background: #b4c9e0;
    /*box-shadow: 1px 0 3px 0 #8d9daf;*/
    position: relative;
    display: block;
    height: 100%;
    overflow: hidden;
}

.progress-bar-wrapper.failed .progress-bar-inner {
    background: #b81d27;
}

.progress-bar.container {
    display: flex;
}

.progress-bar-inner {
    background: cornflowerblue;
    display: block;
    position: relative;
    height: 100%;
    /*border-radius: inherit;*/
    transition: 400ms ease;
}

.progress-bar-wrapper .chunk {
    background: rgba(126, 128, 133, 0.8);
    border-radius: inherit;
    width: 30px;
    left: 100px;
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100%;
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
}

*::-webkit-scrollbar-thumb {
    background-color: cornflowerblue;
    outline: none;
    border-radius: 100px;
}

.prompt {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translateX(-50%) translateY(-25%);
    background: #202225;
    color: #eeeeee;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 2px 0 #3e444b;
}

input, textarea {
    /*box-shadow: rgba(0.1, 0.1, 0.1, 0.2) 0 5px 30px;*/
    /* border: 2px solid #4f5660; */
    background: #303237;
    color: #eee;
    border-radius: 6px;
    font-size: 11pt;
}

.formItem input, .formItem textarea {
    border-radius: 8px 8px 0 0;
    /*border-bottom-right-radius: 0;*/
    /*border-bottom-left-radius: 0;*/
}

.right-align {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.formItem .suggestions {
    width: 100%;
    color: #eee;
    background: #3e444b;
    z-index: 10;
    /*border: 2px solid #4f5660;*/
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    position: relative;
    top: 100%;
    bottom: 5px;
    overflow: hidden;
}

.suggestion {
    padding: 4px 8px;
    color: #eee;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
}

.suggestion:hover {
    background: rgba(24, 27, 31, 0.64);
}

.formItem {
    position: relative;
    border-radius: 10px;
}

.formItem .suggestions:focus {
    display: none;
}

.about-details {
    margin-left: 20px;
    padding-bottom: 10px;
}

.about-details li {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #3c434b;
    padding: 5px 0;
}

.about-details li span, .about-details li b {
    width: 100%;
}

.about-details li span {
    text-align: right;
}

.suggestion.focused {
    background: #4f5660;
}

textarea {
    height: auto !important;
    min-height: 2rem !important;
}

.monospace {
    font-family: "Cutive Mono", monospace;
    font-size: 1.1em;
}
.flex {
    display: flex;
}

.flex * {
    margin-block-end: 0;
    margin-block-start: 0;
    min-width: 75px;
    line-height: 1em;
}