.download .retry, .download .remove, .download .show-in-folder, .download .cancel {
    display: none;
}

.download:not(.active) .progress-bar {
    display: none;
}

.download {
    padding: 10px;
    /*box-shadow: 0 0 3px 0 rgba(24, 26, 29, 0.9);*/
    border-radius: 10px;
    /*background: rgba(36, 40, 44, 0.9);*/
    position: relative;
    transition: 0.45s ease;
    margin: 2px 0 5px;
    overflow: hidden;
    color: white;
}
.download .tool {
    color: inherit;
}
.download .tool:focus {
    color: white;
}

.download-detail .name {
    font-weight: 900;
}
.download-detail .value {
    font-size: 14px;
    font-family: monospace;
}

.download .progress{
    margin: 0 25px;
    min-width: 5em;
    overflow: hidden;
    display: inline;
}
.download .name {
    display: inline;
}


.download.done {
    background: #00ca56;
    color: #3c434b;
}

.download.done .remove, .download.done .show-in-folder {
    display: inline-block;
}

.download.done .download-detail[data-type=speed], .download.done .download-detail[data-type=speed] {
    display: none;
}
.download.pending {
    background: #72257c;
}

.download.pending .cancel {
    display: inline-block;
}
.download.awaiting {
    background: #fff643;
    color: #3c434b;
}

.download.awaiting .cancel {
    display: inline-block;
}
.download.failed {
    background: #b81d27;
}

.download.failed .retry, .download.failed .remove {
    display: inline-block;
}
.download.stopped {
    background: #4f5660;
    color: #b4c9e0;
}

.download.stopped .retry, .download.stopped .remove {
    display: inline-block;
}

.download.active .cancel {
    display: inline-block;
}
/*
.download.done *, .download.awaiting * {
    color: #3c434b;
}
*/
.download .download-details:not([data-enabled]) {
    display: none;
}
.download .download-details {
    font-size: small;
    user-select: text;
}

.download .download-detail {
    margin: 0 10px;
    padding: 0;
    display: block;
    word-wrap: break-word;
}

.download .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.download .header .tools {
    float: right;
    display: flex;

}
