.download .retry, .download .remove, .download .show-in-folder, .download .cancel {
    display: none;
}

.download:not(.active) .progress-bar {
    display: none;
}

.download .header {
    display: flex;
    align-items: center;
}

.download-actions {
    white-space: nowrap;
    width: min-content;
}

.download .titlebar h2 {
    grid-column: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

.download .progress {
    grid-column: 2;
    width: 7em;
    text-align: center;
    margin: auto 0;
}

.download .titlebar {
    max-width: 100%;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: grid;

    grid-template-columns: auto minmax(7em, 1fr);
}

.slow-mode {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 5px;
}
.slow-mode i {
    margin-right: 5px;
}

.download {
    padding: 10px;
    /*box-shadow: 0 0 3px 0 rgba(24, 26, 29, 0.9);*/
    border-radius: 10px;
    /*background: rgba(36, 40, 44, 0.9);*/
    position: relative;
    transition: 0.45s ease;
    margin: 2px 0 5px;
    overflow: hidden;
    color: white;
}
.download .tool {
    color: inherit;
}
.download .tool:focus {
    color: white;
}

table.download-details {
    width: 100%;
}

.download-detail {
    display: table-row;
    padding: 3px;
}

.download-detail:nth-child(odd) {
    background: rgba(255, 255, 255, 0.1);
}

.download-detail, .download-detail td {
    border-spacing: 0;
    border-collapse: collapse;
}

.download-detail .name {
    font-weight: 900;
}
.download-detail .value {
    font-size: 14px;
    font-family: monospace;
    margin-left: -2px;
}

.download .name {
    display: inline;
}


.download.done {
    background: #00ca56;
    color: #3c434b;
}

.download.done .remove, .download.done .show-in-folder {
    display: inline-block;
}

.download.done .download-detail[data-type=speed], .download.done .download-detail[data-type=speed] {
    display: none;
}
.download.pending {
    background: #72257c;
}

.download.pending .cancel {
    display: inline-block;
}
.download.awaiting {
    background: #fff643;
    color: #3c434b;
}

.download.awaiting .cancel {
    display: inline-block;
}
.download.failed {
    background: #b81d27;
}

.download.failed .retry, .download.failed .remove {
    display: inline-block;
}
.download.stopped {
    background: #4f5660;
    color: #b4c9e0;
}

.download.stopped .retry, .download.stopped .remove {
    display: inline-block;
}

.download.active .cancel {
    display: inline-block;
}
/*
.download.done *, .download.awaiting * {
    color: #3c434b;
}
*/
.download .download-details:not([data-enabled]) {
    display: none;
}
.download .download-details {
    font-size: small;
    user-select: text;
}

.download .download-detail {
    margin: 0 10px;
    padding: 0;
    display: block;
    word-wrap: break-word;
}

.download .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.download .header .tools {
    float: right;
    display: flex;

}
