.window-title {
    color: #899cb1;
    background: #202225;
    font-family: "Avenir", sans-serif;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    line-height: 36px;
    font-size: 12px;
    height: 30px;
}
.icon {
    height: 14px;
    position: relative;
    margin-right: 2px;
    top: -5%;
}

header {
    background: #202225;
    width: 100vw;
}

.drag-region {
    -webkit-app-region: drag;
    width: 100%;
}