.window-title {
    width: 100%;
    text-align: center;
    font-family: "Avenir", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    height: 30px;
}
.icon {
    height: 14px;
    position: relative;
    margin-right: 2px;
    top: -5%;
}

.window-titlebar {
    color: #899cb1;
    background: #202225;
}

.drag-region {
    width: 100%;
    box-sizing: border-box;
    -webkit-app-region: drag;
}
