a {
    color: inherit;
    text-decoration: none;
}

a {
    border: none;
    outline: none
}

a:hover {
    color: white;
}


.nav_bar_container {
    width: 100%;
    height: 30px;
    background: #202225;
}
.nav_bar_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    margin: 0 auto;
    font-weight: 500;
    color: white;
    background: transparent;
    height: 30px;
    z-index: 99;
    position: absolute;
    top: 30px;
}
.nav_bar_wrapper div {
    color: inherit;
    text-decoration: none;
}
.nav_item, .nav_dropdown {
    display: flex;
    flex-direction: row;

    height: 30px;
    line-height: 34px;
    font-size: 12px;
    width: 100%;
    cursor: pointer;
    background: #202225;
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.nav_item {
    padding: 0 10px 0 10px;
    min-width: 40px;
    text-align: center;
}

.nav_item .more {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.nav_dropdown {
    position: relative;
    width: 100%;
    margin: 0 -10px;
    top: 100%;
}

.nav_accelerator {
    color: #66727f;
    display: inline-block;
}

.nav_dropdown > div {
    position: relative;
    /*display: inline-block;*/
}

.nav_item[active] {
    color: white;
    background: rgb(79, 86, 96);
}

.nav_item:hover.nav_dropdown div:hover {
    color: white;
    background: rgb(79, 86, 96);
}

.nav_dropdown {
    display: none;
    position: absolute;
    height: auto;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.6);
}

.nav_dropdown div {
    background: #202225;
    text-align: left;
    box-sizing: border-box;
    padding-left: 10px;
}

.nav_dropdown .nav_dropdown {
    left: 100%;
    transform: translate(0, -40px);
    padding: 0;
}

.nav_item:hover, .nav_dropdown div:hover {
    background: rgb(79, 86, 96);
}

.nav_bar_wrapper div:hover > .nav_dropdown, .nav_bar_wrapper div:hover > .nav_dropdown:hover {
    display: block;
}

.nav_bar_wrapper {
    display: flex !important;
}
