.progress-bar > .progress-visual {
    position: absolute;
    top: -15px;
    font-size: 15px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.progress-bar > .progress-visual > span {
    width: 40px;
    height: 40px;
    position: relative;
    line-height: 30px;
    padding: 5px;
    background: #b4c9e0;
    box-shadow: 0 0 3px 0 #3e444b;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-bar {
    width: 100%;
    margin-top: 5px;
    position: relative;

    /*height: 12px;*/
    height: 4px;

    /*padding: 10px;*/
}

.progress-bar-wrapper {
    border-radius: 4px;

    /*border: 1px solid #334c79;*/
    background: #181b1e;

    overflow: hidden;
    position: relative;
    display: block;
    height: 100%;

    padding: 3px;
}

.progress-bar.container {
    display: flex;
}

.progress-bar-inner {
    border-radius: 15px;
    background: #334c79;
    display: block;
    position: relative;
    height: 100%;
    transition: 200ms ease;
}
