.settings {
    position: fixed;
    top: 50px;
    overflow: auto;
    max-height: calc(100vh - 75px);
    z-index: 100000;
    transform: translateX(-50%);
    box-shadow: #181b1e 0 0 5px 5px;
}
.settings_header {
    padding: 0;
    border-bottom: 1px solid #4f5660;
    margin: 0 0 30px;
    background: transparent;
}
.checkbox {
    display: flex;
}
.close_button {
    position: absolute;
    top: 0;
    right:0;
    margin: 10px;
}
.checkbox .indicator {
    display: block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid #b4c9e0;
    border-radius: 4px;
    transition: 0.125s;
    position: absolute;
    right: 20px;
}

.checkbox .indicator.checked {
    background: #b4c9e0;
}

.settings header {
    box-shadow: none;
    height: auto !important;
}

label {
    font-size: 9pt;
}

.setting {
    display: flex;
    /*border-bottom: 1px solid #4f5660;*/
    margin: 12px 0;
}
.setting input[type="checkbox"], .setting input[type="radio"] {
    min-width: auto;
    position: absolute;
    right: 20px;
    margin-top: -5px;
}
.reset_button {
    text-align: center;
    border: none;
    background: rgba(102, 112, 123, 0.55);
}
.reset_button:hover {
    color: white;
    background: rgba(102, 112, 123, 1);
}
input[type="file"] {
    overflow: hidden;
    text-wrap: none;
    z-index: -1;
    border: none;
}

label.saveLocation {
    display: block;
    padding: 9px;
    /* border: 2px solid #4f5660; */
    box-sizing: border-box;
    color: #eee;
    border-radius: 7px;
    font-size: 11pt;
    margin: 10px 0;
    min-width: 15cm;
    user-select: text;
    /*position: absolute;*/
    cursor: pointer;
    font-family: monospace;
    box-shadow: rgba(0.1,0.1,0.1,0.2) 0 5px 30px;
    background: rgba(36, 40, 44, 0.9);

}

/*input[type="file"]:focus ~ label.saveLocation, label.saveLocation:focus, input[type="file"]:active ~ label.saveLocation, label.saveLocation:active {*/
    /*border-color: #b4c9e0;*/
/*}*/

input[type="file"] + label {
    border: none;
    background: transparent;
    color: #b4c9e0;
}

input[type="radio"] {
    -webkit-appearance: none;
    border-radius: 30px;
    width: 10px !important;
    height: 10px;
    transition: 0.125s;

}
input[type="radio"]:checked {
    background: #b4c9e0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none !important;
}