.settings_header {
    padding: 0;
    border-bottom: 1px solid #4f5660;
    margin: 0 0 30px;
    background: transparent;
}
.close_button {
    position: absolute;
    top: 0;
    right:0;
    margin: 10px;
}
.setting-item .check-box {
    display: block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid #b4c9e0;
    border-radius: 4px;
    transition: 0.125s;
}

.setting-item .check-box.checked {
    background: #b4c9e0;
}

.settings header {
    box-shadow: none;
    height: auto;
}

.setting-item {
    margin: 12px 0;
}
.reset_button {
    text-align: center;
    border: none;
    background: rgba(102, 112, 123, 0.55);
}
.reset_button:hover {
    color: white;
    background: rgba(102, 112, 123, 1);
}

.setting-item .saveLocation {
    display: block;
    padding: 9px;
    /* border: 2px solid #4f5660; */
    box-sizing: border-box;
    color: #eee;
    border-radius: 0.25rem;
    font-size: 11pt;
    margin: 10px 0;
    user-select: text;
    /*position: absolute;*/
    cursor: pointer;
    font-family: monospace;
    box-shadow: rgba(0.1,0.1,0.1,0.2) 0 5px 30px;
    background: rgba(36, 40, 44, 0.9);
}

.right_element {
    float: right;
}
.proxy-settings[data-disabled],.auth-settings[data-disabled]{
    display: none;
}
